# Configuracion de la base de datos MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario
DB_PASSWORD=password
DB_NAME=matamounstruosdb
DB_ROOT_PASSWORD=root_password
# Puerto en el que corre el backend
PORT=3000

# Conexion del frontend con el backend en desarrollo local con Docker
VITE_API_URL=http://localhost:3001

# En AWS habria que cambiar VITE_API_URL por la IP publica o dominio real del backend
# Ejemplo AWS: VITE_API_URL=http://IP_PUBLICA_AWS:3001

# Entorno de ejecucion
NODE_ENV=development

# En AWS habria que cambiar a production
# Ejemplo AWS: NODE_ENV=production
